# 파이썬 프로그래밍 시험 (A)

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [1]:
#1번 문제 풀이 작성

num1 = int(input("숫자를 입력하세요: "))

num2 = int(input("숫자를 입력하세요: "))

if num1 > num2:
  max = num1
  min= num2
else:
  max = num2
  min = num1

num3 = int(input("숫자를 입력하세요: "))

if num3 > max :
  max = num3
if num3 < min :
  min = num3


print(f'{max} - {min} = {max - min}')

9 - 2 = 7

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [3]:
#2번 문제 풀이 작성

list1 = [2, 3, 4]
list2 = [5, 6, 7]

list3 = list1 + list2

sumData = 0
for i in list3 :
  sumData = sumData + i

print(sumData)

27

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [7]:
#3번 문제 풀이 작성

list1 = [6, 10, 14, 27, 87]
list2 = [14, 54, 76, 87, 91]

commonList = []

for listA in list1:
  for listB in list2:
    if listA == listB:  
      commonList.append(listA)
      break

print(commonList)

[14, 87]

4. 이름, 나이, 국어점수, 영어점수, 수학점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [8]:
#4번 문제 풀이 작성

student = {
  'name' : '',
  'age' : 0,
  'korScore' : 0,
  'engScore' : 0,
  'mathScore' : 0
}

student['name'] = input('이름을 입력하시오')
student['age'] = int(input('나이를 입력하시오'))
student['engScore'] = int(input('영어점수를 입력하시오'))
student['korScore'] = int(input('국어점수를 입력하시오'))
student['mathScore'] = int(input('수학점수를 입력하시오'))

print(student)

{'name': '장만월', 'age': 37, 'korScore': 99, 'engScore': 98, 'mathScore': 97}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [9]:
#5번 문제 풀이 작성

student['totalScore'] = student['korScore'] +student['engScore'] + student['mathScore']

print(student)

{'name': '장만월', 'age': 37, 'korScore': 99, 'engScore': 98, 'mathScore': 97, 'totalScore': 294}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [106]:
class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

#6번 문제 풀이 작성


stu_grade = []


def getGrade(newScore):
    if int(newScore) >= 90:
        return "A"
    elif int(newScore) >= 80:
        return "B"
    elif int(newScore) >= 70:
        return "C"
    else:
        return "D"

stu_grade = [getGrade(newScore) for newScore in class_room_data['stu_score']]




class_room_data['stu_grade'] = stu_grade

print(class_room_data)

{'stu_no': [1, 2, 3, 4, 5], 'stu_name': ['김자바', '이자바', '박자바', '최자바', '정자바'], 'stu_score': [85, 65, 70, 80, 95], 'stu_grade': ['B', 'D', 'C', 'B', 'A']}

7. 아래 데이터는 자바반과 자반에 소속된 학생들의 정보이다.  
나이가 30살 이상인 학생들의 점수의 합을 출력하세요.

In [ ]:
javaClass= {
  'calssName' : '자바반',
  'teacher' : '김자바',
  'studentList' : [
    {'name' : '홍길동', 'age': 31, 'score' : 85},
    {'name' : '이순신', 'age': 35, 'score' : 95},
    {'name' : '유관순', 'age': 29, 'score' : 80},
    {'name' : '장영실', 'age': 37, 'score' : 70},
    {'name' : '신사임당', 'age': 25, 'score' : 65},
  ]
}

# 7번 문제 답안 작성

print(javaClass['studentList'])

for student in javaClass['studentList'] :
  list = student['age']
  # print(list)
  if list >= 30 :
    # print(student['score'])
    sum =  0
  sum = sum + student['score']
print(sum)

[{'name': '홍길동', 'age': 31, 'score': 85}, {'name': '이순신', 'age': 35, 'score': 95}, {'name': '유관순', 'age': 29, 'score': 80}, {'name': '장영실', 'age': 37, 'score': 70}, {'name': '신사임당', 'age': 25, 'score': 65}]
135

다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [101]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

8. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [126]:
# 8번 문제 답안 작성
import pandas
df = pandas.DataFrame(population)
df

    행정기관    0~4세    5~9세  10~14세  15~19세  20~24세
0  서울특별시  214651  210833  269171  335828  343797
1  부산광역시   68006   68704   94802  124564  125907
2  대구광역시   53515   58332   91268  101110   96078
3  인천광역시   69453   68555   86574  106435  102297
4  울산광역시   29835   29331   29035   49119   43937

9. '총 인구수' 라는 키를 추가하고, 해당 키에 0세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [118]:
# 9번 문제 답안 작성
import pandas

df = pandas.DataFrame(population)

df['총 인구수'] = df['0~4세'] + df['5~9세'] + df['10~14세'] + df['15~19세'] + df['20~24세']

df

    행정기관    0~4세    5~9세  10~14세  15~19세  20~24세    총 인구수
0  서울특별시  214651  210833  269171  335828  343797  1374280
1  부산광역시   68006   68704   94802  124564  125907   481983
2  대구광역시   53515   58332   91268  101110   96078   400303
3  인천광역시   69453   68555   86574  106435  102297   433314
4  울산광역시   29835   29331   29035   49119   43937   181257