### 판다스 활용 데이터 분석

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [ ]:
#1번 문제 풀이 작성

num1 = int(input("숫자를 입력하세요: "))

num2 = int(input("숫자를 입력하세요: "))

if num1 > num2:
  max = num1
  min= num2
else:
  max = num2
  min = num1

num3 = int(input("숫자를 입력하세요: "))

if num3 > max :
  max = num3
if num3 < min :
  min = num3


print(f'{max} - {min} = {max - min}')

6 - 2 = 4

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [7]:
#2번 문제 풀이 작성
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list3 = list1 + list2

sumData = 0
for i in list3 :
  sumData = sumData + i

print(sumData)

21

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [ ]:
#3번 문제 풀이 작성
list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 3, 4, 5]

def getCommonList(list1, list2):
  commonList = []
  for listA in list1:
    for listB in list2:
      if listA == listB:  
        commonList.append(listA)
        break  
  return commonList

result = getCommonList(list1, list2)
print(result)

[1, 3, 5]

4. 이름, 나이, 국어점수, 영어점수, 국어점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [15]:
#4번 문제 풀이 작성
student = {
  'name' : '',
  'age' : 0,
  'korScore' : 0,
  'engScore' : 0,
  'mathScore' : 0
}

student['name'] = input('이름을 입력하시오')
student['age'] = int(input('나이를 입력하시오'))
student['engScore'] = int(input('영어점수를 입력하시오'))
student['korScore'] = int(input('국어점수를 입력하시오'))
student['mathScore'] = int(input('수학점수를 입력하시오'))

print(student)

{'name': '홍길동', 'age': 30, 'korScore': 80, 'engScore': 90, 'mathScore': 70}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [16]:
#5번 문제 풀이 작성
student['totalScore'] = student['korScore'] +student['engScore'] + student['mathScore']

print(student)

{'name': '홍길동', 'age': 30, 'korScore': 80, 'engScore': 90, 'mathScore': 70, 'totalScore': 240}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [25]:
class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

#6번 문제 풀이 작성
def getGrade(stu_score):
    if int(stu_score) >= 90:
        return "A"
    elif int(stu_score) >= 80:
        return "B"
    elif int(stu_score) >= 70:
        return "C"
    else:
        return "D"

for data in class_room_data :
    data['stu_grade'] = getGrade(data['stu_score'])


print(class_room_data)

TypeError: string indices must be integers, not 'str'